@font-face {
    font-weight: normal;
    font-family: "Segoe WP", "Arial", sans-serif;
    font-style: normal;
    font-display: swap;
    src: url("assets/SegoeWP.woff") format("woff");
}

body {
    min-width: 640px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    background-color: #f4c506;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.container-center {
    max-width: 1020px;
    margin: 0 auto;
}

.page-header {
    min-height: 112px;
}

.page-header::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 566px;
    background-color: #423820;
    background-image: url("/assets/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header__container-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.page-header__logo {
    align-self: flex-end;
    margin-right: 20px;
    -ms-flex-item-align: end;
}

.page-header__main-nav {
    margin-top: 71px;
}

@media (max-width: 664px) {
    .page-header {
        min-height: 62px;
        background: -webkit-gradient(linear, left top, left bottom, from(#636363), to(#464646));
        background: linear-gradient(#636363, #464646);
        -webkit-box-shadow: 0 1px 3px black;
        box-shadow: 0 1px 3px black;
    }

    .page-header::before {
        display: none;
    }

    .page-header__container-center {
        padding-right: 0;
    }

    .page-header__logo {
        align-self: center;
        width: 155px;
        height: 39px;
        margin-top: -7px;
        -ms-flex-item-align: center;
    }

    .page-header__main-nav {
        margin-top: 0;
    }
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #f4c506;
    -webkit-box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
    box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
}

.main-nav__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #9b7d08;
    background-color: #f4c506;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    fill: #b99403;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.main-nav__item:hover {
    color: #fff;
    background-color: #b99403;
    fill: #fff;
}

.main-nav__item:last-of-type {
    border: 0;
}

.main-nav__link {
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 40px;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.main-nav__link--about {
    padding-right: 20px;
    padding-left: 65px;
}

.main-nav__link--services {
    padding-right: 15px;
    padding-left: 40px;
}

.main-nav__link--contact {
    padding-right: 20px;
    padding-left: 50px;
}

.main-nav__icon {
    position: absolute;
    left: 10px;
    fill: inherit;
}

.main-nav__icon--about {
    left: 40px;
}

.main-nav__icon--services {
    left: 15px;
}

.main-nav__icon--contact {
    left: 15px;
}

@media (max-width: 664px) {
    .main-nav__list {
        background-image: url("/assets/pat-nav.png");
        background-repeat: repeat;
        border-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .main-nav__item {
        background-color: transparent;
    }

    .main-nav__icon--about {
        left: 25px;
        width: 22px;
        height: 22px;
    }

    .main-nav__icon--services {
        left: 10px;
        width: 22px;
        height: 22px;
    }

    .main-nav__icon--contact {
        width: 28px;
        height: 21px;
    }

    .main-nav__link {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 19px;
    }

    .main-nav__link--services {
        padding-right: 10px;
        padding-left: 35px;
    }

    .main-nav__link--contact {
        padding-right: 10px;
    }

    .main-nav__item:first-child .main-nav__link {
        padding-right: 15px;
        padding-left: 50px;
    }
}
