@font-face {
    font-weight: normal;
    font-family: "SegoeWP", "Arial", sans-serif;
    font-style: normal;
    font-display: swap;
    src: url("../assets/SegoeWP.woff") format("woff");
}

@font-face {
    font-weight: normal;
    font-family: "asap", "Arial", sans-serif;
    font-style: normal;
    font-display: swap;
    src: url("../assets/asap.woff2") format("woff2"), url("../assets/asap.woff") format("woff");
}

body {
    min-width: 640px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    background-color: #f4c506;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.page-header {
    min-height: 112px;
    margin-bottom: 56px;
}

.page-header::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 566px;
    background-color: #423820;
    background-image: url("../assets/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.page-header__logo {
    align-self: flex-end;
    margin-right: 20px;
    -ms-flex-item-align: end;
}

.page-header__main-nav {
    margin-top: 71px;
}

@media (max-width: 664px) {
    .page-header {
        min-height: 62px;
        margin: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#636363), to(#464646));
        background: linear-gradient(#636363, #464646);
        -webkit-box-shadow: 0 1px 3px black;
        box-shadow: 0 1px 3px black;
    }

    .page-header::before {
        display: none;
    }

    .page-header__wrapper {
        padding-right: 0;
    }

    .page-header__logo {
        align-self: center;
        width: 155px;
        height: 39px;
        margin-top: -5px;
        -ms-flex-item-align: center;
    }

    .page-header__main-nav {
        margin-top: 0;
    }
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #f4c506;
    -webkit-box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
    box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
}

.main-nav__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #9b7d08;
    background-color: #f4c506;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    fill: #b99403;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.main-nav__item:hover {
    color: #fff;
    background-color: #b99403;
    fill: #fff;
}

.main-nav__item:last-of-type {
    border: 0;
}

.main-nav__link {
    display: inline-block;
    padding: 10px;
    font-family: "SegoeWP", "Arial", sans-serif;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.main-nav__link--about {
    padding-right: 20px;
    padding-left: 70px;
}

.main-nav__link--services {
    padding-right: 18px;
    padding-left: 45px;
}

.main-nav__link--contact {
    padding-right: 20px;
    padding-left: 49px;
}

.main-nav__icon {
    position: absolute;
    left: 15px;
    fill: inherit;
}

.main-nav__icon--about {
    left: 35px;
}

.main-nav__icon--services {
    left: 15px;
}

.main-nav__icon--contact {
    left: 17px;
}

@media (max-width: 664px) {
    .main-nav__list {
        background-image: url("../assets/pat-nav.png");
        background-repeat: repeat;
        border-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .main-nav__item {
        background-color: transparent;
    }

    .main-nav__icon--about {
        left: 20px;
        width: 26px;
        height: 21px;
    }

    .main-nav__icon--services {
        left: 10px;
        width: 22px;
        height: 22px;
    }

    .main-nav__icon--contact {
        left: 15px;
        width: 28px;
        height: 21px;
    }

    .main-nav__link {
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 19px;
        letter-spacing: 0;
    }

    .main-nav__link--services {
        padding-right: 15px;
        padding-left: 40px;
    }

    .main-nav__link--contact {
        padding-right: 10px;
        padding-left: 55px;
    }

    .main-nav__item:first-child .main-nav__link {
        padding-right: 20px;
        padding-left: 60px;
    }
}

.slider {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

.slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.slider__title {
    width: 450px;
    margin-top: 15px;
    padding-left: 25px;
    font-weight: normal;
    font-size: 63px;
    line-height: 75px;
    font-family: "asap", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.slider__title--highlighted {
    display: block;
    color: #f4c506;
}

.slider__video {
    margin-left: 10px;
}

.slider__control {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 32px;
    min-height: 57px;
    margin-top: -3px;
    background-color: #f4c506;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
}

.slider__control:hover:not(.slider__control--inactive) {
    background-color: #9b7d08;
}

.slider__control--previous {
    left: 0;
}

.slider__control--next {
    right: 0;
}

.slider__control-icon {
    fill: #ffffff;
}

.slider__control--previous .slider__control-icon {
    margin-left: -1px;
}

.slider__control--next .slider__control-icon {
    margin-right: -1px;
}

.slider__control--inactive {
    opacity: 0.7;
}

@media (max-width: 664px) {
    .slider__title {
        display: none;
    }

    .slider__video {
        z-index: -1;
        width: 100%;
        margin: 0;
        background-color: red;
    }

    .slider__video video {
        display: block;
        width: 100%;
    }

    .slider__control {
        display: none;
    }
}
